$metal: #2b303a;
$metal-dark: #111317;
$metal-middle: #7a818e;
$metal-light: #e9edf4;
$white: #ffffff;

$background: linear-gradient(90deg, #2b303a 0%, #3f4756 100%);
$grad-mlight: linear-gradient(90deg, #d3dae8 0%, #a7b7d8 100%);
$grad-red: linear-gradient(90deg, #911812 0%, #e1261c 100%);

$duration: 0.15s;
