@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 100px auto;
  max-width: 1080px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}
